@font-face {
  font-family: RussoOne;
  src: url(../fonts/RussoOne/RussoOne-Regular.ttf) format("opentype");
}

@font-face {
  font-family: ChekraPetch;
  src: url(../fonts/ChakraPetch/ChakraPetch-Light.ttf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: ChekraPetch;
  src: url(../fonts/ChakraPetch/ChakraPetch-Regular.ttf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: ChekraPetch;
  src: url(../fonts/ChakraPetch/ChakraPetch-Medium.ttf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: ChekraPetch;
  src: url(../fonts/ChakraPetch/ChakraPetch-SemiBold.ttf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: ChekraPetch;
  src: url(../fonts/ChakraPetch/ChakraPetch-Bold.ttf) format("opentype");
  font-weight: 700;
}